body{
	background-color: floralwhite;
	background-image: url('ex2.jpg');
	height: auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: scroll;
}
.div{
	 background-size: 100% 100%;
}
.lo{
	margin-top: -13%;
	position: absolute;
}
.dd{	
	background-color:rgba(0.7,0.7,0.5,0.7);
  padding: 40px;
	font-size:200%;
  text-align: center;
	color: floralwhite;
	width: 94.6%;
	height: 100px;
	background-size: auto;
	background-attachment: fixed;
	text-shadow: 3px 3px 8px gold;
	font-family: 'Brush Script MT', cursive;


}
.navv{
	width: 99.8%;
}
ul {
	font-family: 'Brush Script MT', cursive;
	text-shadow: 3px 3px 8px gold;
	font-size: 200%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0.7,0.7,0.5,0.7);
}

li {
	float: left;
	margin-left: 10%;
  padding-left: 10%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  width: 110%;
  text-decoration: underline;
}

li a:hover {
  background-color: darkgoldenrod;;
  transition: 2px 2px;
  transform: translate(10px , 10px);
}
img:hover{
	opacity: 1;
}
.head{
	text-align: center;
	color: floralwhite;
	text-shadow: 5px 5px 5px gold;
	font-size: 150%;
	font-family: 'Brush Script MT',cursive;
}
.side{
	display: flex;
	padding: 10px;
	opacity: ;
}
.side1{
	opacity: 0.75;
	background-color: rgba(0.5, 0.5, 0.5, 1.0);
}
.side2{
	opacity: 0.75;
}
.motion{
	padding: 20px;
	width: 100%;
}

.excont1{
	color: white;
	text-shadow: 5px 5px 5px goldenrod;
	padding-left: 35%;
	float: left;
	width: 30%;
	margin-top: -15%;
}
.excont2{
	color: white;
	text-shadow: 5px 5px 5px goldenrod;
	float: right;
	padding: 50px;
}

.foot{
	background-color: rgba(0.5,0.5,0.5,0.5);
	padding: 10px;
	display: flex;
	column-width: 30px;
}
.con{
	color: floralwhite;
	padding-left:;

}
.add{
	color: floralwhite;
	margin-top:;
	padding-left: 200px;
}
.time{

	color: floralwhite;
	margin-top:;
	padding-left: 200px;
}
.social{
	padding-top: 80px;
	padding-left: 150px;
	padding-right: 60px;
	align-content: space-between;
	width: 10%;
}
footer {
	width: 100%;
  background-color:rgba(0.5,0.5,0.5,0.5);
}